body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
    padding-top: 80px; /* Espacio en la parte superior para separar el contenido del logo */
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.header {
    text-align: center;
    padding: 20px; /* Ajusta el padding según sea necesario */
    background-color: #fff;
}

.header img {
    max-width: 100%;
}

.nav {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    position: fixed; /* Mantiene la barra de navegación en la parte superior */
    width: 100%; /* Asegúrate de que ocupe todo el ancho */
    top: 120px; /* Ajusta esto para que esté justo debajo de la imagen del logo */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    background-color: rgba(255, 255, 255, 0.9);
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.nav a:hover {
    color: #7ABA96;
}

.content {
    display: flex;
    justify-content: center;
    padding: 80px 20px 20px;
    background-color: #fff; /* Asegúrate de que el fondo blanco cubra todo el contenido */
}

.sidebar {
    width: 25%;
    padding: 20px;
}

.main-content {
    width: 75%;
    padding: 20px;
}

.about-me,
.subscribe {
    text-align: center;
    margin-bottom: 20px;
}

.about-me img,
.subscribe img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.subscribe img {
    border-radius: 0;
    width: 100%;
    height: auto;
}

.post {
    margin-bottom: 20px;
    text-align: center;
}

.post img {
    width: 100%;
    height: auto;
}

.post-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.post-title a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.post-title a:hover {
    color: #7ABA96;
}

.post-date {
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
}

.post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post {
    width: 45%;
    margin: 10px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover {
    color: #7ABA96;
}

.logo-container {
    text-align: center; /* Centra la imagen del logo */
    position: fixed; /* Mantiene la imagen del logo en la parte superior */
    top: 0; /* Posición en la parte superior */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Ajusta el centro */
    z-index: 2000; /* Asegura que esté por encima de otros elementos */
    margin-bottom: 20px; /* Espacio debajo de la imagen del logo */
    background-color: #fff; /* Fondo blanco detrás del logo */
    padding: 10px; /* Espacio alrededor del logo */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra opcional para resaltar el logo */
    background-color: rgba(255, 255, 255, 0.8);
}